body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  header {
    background-color: #333;
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-3 {
    flex-basis: 25%;
    padding: 20px;
  }
  
  .disciplina {
    background-color: #000000;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .disciplina h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .disciplina p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .disciplina a {
    color: #007bff;
    text-decoration: none;
  }
  
  .disciplina a:hover {
    color: #0056b3;
  }
  
  footer {
    background-color: #333;
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 0;
  /* From Uiverse.io by e-coders */ 
  }
button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #000000;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }
   .col-md-3 {
    display: center;
    justify-content: center;
    align-items: center;
  }
  
  .imagem {
    max-width: 100%;
    height: auto;
  }
  .imagem {
    width: 50%;
    height: 200px;
    margin: 20px auto;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }