* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;}
  body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
  }
  /* Header Styles */
  .header {
    background-color: #696969;
    
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .header img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }
  .header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  /* Navigation Styles */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  nav ul li {
    margin-right: 20px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  nav ul li a:hover {
    color: #ccc;
  }
  /* Section Styles */
  section {
    padding: 20px;
    margin-bottom: 20px;
  }
  section h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .service-item {
    margin-bottom: 20px;
  }
  .service-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  .service-item h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .service-item p {
    font-size: 14px;
    color: #666;
  }
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }
  footer p {
    font-size: 14px;
    margin-bottom: 10px;
    
    font-size: 3rem;
  }
  .hero p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  .hero .button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  /* Estilos da Seção de Serviços */
  .services {
    padding: 2rem;
    background-color: #000000;
    text-align: center;
  }
  .service-item {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 20px;
  }
  .service-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .service-item h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .service-item p {
    font-size: 14px;
    color: #00c3ff;
    margin-bottom: 20px;
  }
   
  .button {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px #0072ff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #0072ff;
  }
  .button:active {
   
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
  }
  .button:before,
  .button:after {
    
    width: 0;
    height: 0;
  }
  .button:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
  }
  .button:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }
  footer {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .rodape {
    margin: 0 auto;
    width: 80%;
  }
  .rodape p {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .rodape a {
    color: #fff;
    text-decoration: none;
  }
  .rodape a:hover {
    color: #f50202;
  }
  .rodape .social {
    margin-top: 10px;
  }
  .rodape .social a {
    margin-right: 10px;
  }
  .rodape .social i {
    font-size: 24px;
    color: #fff;
  }
  .rodape .social i:hover {
    color: #ccc;
  }